# Environments
.env
.env.*
.env.local
.venv
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.db
backend/sql_app.db
*.sqlite

# Node
node_modules/
npm-debug.log
yarn-error.log

# Next.js
.next/
out/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
